
.board {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

td{
    border: 2px solid #000;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 45px;
}

.player-x {
    color: red;
}

.player-o {
    color: blue;
}

.player-x-score{
    color: red;
    font-size: 30px;
}

.player-o-score{
    color: blue;
    font-size: 30px;
}
td:hover {
    background-color: #999;
    transition: ease-in-out 0.3s;
}

.button {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid  #999;
    font-weight: bold;
    background-color: #999;
}


.button:hover{
    background-color: white;
}